/* Ensure that the design responds well to mobile (320px), tablet (768px) and desktop (1024px) screen sizes. */
/* Use CSS grid to lay out the main elements (header, sidebar navigation, main content) on the page. */



/* ---Main--- */
@import url('https://fonts.googleapis.com/css?family=Roboto');


:root {
  --primary-background-color: #7477bf;
  --secondary-background-color: #4d4c72;
  --tertiary-background-color: #fff;
  --quaternary-background-color: #b2b2b2;
  --primary-font-color: white;
  --secondary-font-color: #656565;
  --extra-color: #d1d1d1;
  --gutter: 10px;
  --widget-padding: 25px;
}
* {
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-font-color);
  grid-template-columns: 50px auto;
  grid-template-rows: 50px auto;
}

button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  border: none;
  border: 2px solid var(--extra-color);
  border-radius: 10px;
  text-transform: uppercase;
  color: var(--primary-font-color);
}



/* ---Header--- */
/*Include a notification icon in the navigation header.*/
  /*Add a CSS transition to the bell icon when the user hovers over it.*/
.header {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 10px;
  margin-right: auto;
  font-size: 1em;
  font-weight: lighter;
}

.profile {
  display: flex;
  align-items: center;
  height: 60%;
  border-left: 3px solid var(--secondary-background-color);
  max-width: 125px;
}

#notification-icon {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: auto 5px;
  position: relative;
}

.notification::after {
  position: absolute;
  content: ".";
  font-size: 25px;
  color: limegreen;
  top: -5px;
  right: -5px;
}

#notification-icon:hover {
  animation: bell 1s linear backwards;
}

#profile-avatar {
  height: 30px;
  width: 30px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid var(--primary-font-color);
}

#profile-name {
  display: inline-block;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* ---Navbar--- */
.navbar {
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbar a {
  display: inline-block;
  width: 75%;
  margin-top: 40px;
}

.navbar img {
  display: block;
  width: 35px;
  padding: 5px;
  margin: auto;
}

.selected {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}



/* ---Main--- */
.main {
  display: grid;
  grid-gap: 2px;
  background-color: var(--extra-color);
  padding: 2px;
}

h3,
.message label {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1em;
}

.traffic,
.dailyTraffic,
.mobileUsers,
.social,
#newMembers,
.activity,
.message,
.settings {
  background-color: var(--tertiary-background-color);
  padding: var(--widget-padding);
}



/* ---Traffic--- */
.traffic {
  width: 100%;
  height: 100%;
}



/* ---Daily Traffic--- */
.dailyTraffic {
  width: 100%;
  height: 100%;
}



/* ---Mobile Users--- */
.mobileUsers {
  width: 100%;
  height: 100%;
}



/* ---Social--- */
.social {
  width: 100%;
  height: 100%;
}



/* ---New Members--- */

.memberFormatter {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.memberFormatter img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.memberFormatter p {
  margin: 0;
}

.memberFormatter a {
  text-decoration: none;
  color: var(--primary-background-color);
}

/* .memberName a {
  text-decoration: none;
  color: var(--primary-background-color);
} */

.memberFormatter div:last-child {
  margin-left: auto;
}

.activity .memberFormatter div:last-child a {
  font-size: 2em;
}



/* ---Activity--- */


/* ---Message--- */
.message {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message label {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 0;
}

.message input,
.message textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1em;
  border: none;
  background-color: #fbfbfb;
  border: 2px solid var(--extra-color);
  border-radius: 10px;
}

::placeholder {
  color: lightgray;
}

.message button {
  background-color: var(--primary-background-color);
  border: 2px solid var(--primary-background-color);
}


/* ----Settings Widget----
Create a settings widget to display various setting options using different form elements.
  Create an on/off widget for whether to send email notifications.
  Create an on/off widget for whether to set the profile to public or private.
  Create a drop-down to select the timezone.
Add Save and Cancel buttons (these do not have to do anything functional).
Style to match the overall look and feel of the dashboard. */
/* ---Settings--- */
.settings p {
  font-size: 0.85em;
}

.emailSetting,
.profileSetting {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.emailSwitch,
.profileSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  margin: auto;
  flex-grow: 1;
}

.emailSwitch input,
.profileSwitch input {
  display:none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--quaternary-background-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 24px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  /* -webkit-transition: .4s; */
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary-background-color);
}

/* input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-background-color);
} */

input:checked + .slider:before {
  /* -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px); */
  transform: translateX(34px);
}

.timezone {
  width: 100%;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  color: var(--secondary-font-color);
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--widget-padding);
  padding: 20px 0;
}

.saveSettings {
  background-color: var(--primary-background-color);
  border: 2px solid var(--primary-background-color);
}

.cancelSettings {
  background-color: var(--quaternary-background-color);
  border: 2px solid var(--quaternary-background-color);
}




/* ---Media Queries--- */
@media (min-width: 320px) {

}

@media (min-width: 768px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    grid-template-columns: 75px auto;
    grid-template-rows: 75px auto;
  }

  .profile {
    max-width: 250px;
  }

  #notification-icon {
    height: 35px;
    width: 35px;
    margin: auto 10px;
  }

  #profile-avatar {
    height: 40px;
    width: 40px;
    margin: 10px;
  }

  .navbar img {
    width: 50px;
    padding: 10px;
  }

  .traffic {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .social {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .message {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .settings {
    grid-column-start: 1;
    grid-column-end: 3;
  }

}

@media (min-width: 1049px) {

  .message {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .settings {
    grid-column-start: 2;
    grid-column-end: 3;
  }

}






/* -----Keyframes----- */

/* ---Notification Bell ---*/
@keyframes bell {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(-25deg);
  }
  24% {
    transform: rotate(0deg);
  }
  36% {
    transform: rotate(20deg);
  }
  48% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  72% {
    transform: rotate(0deg);
  }
  84% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
